*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.yardim{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    width: 100%;
    .yardim1{
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 20px;
        
        .yardim__left{
        width: 300px;
        height: 150px;
        background-color: rgb(240, 239, 239);
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        border-radius: 10px;
        p:hover{
            color: blue;
        }
    }
    }

    .jARjpV { 
        display: flex; 
        -webkit-box-align: center; 
        align-items: center; 
        -webkit-box-pack: center; 
        justify-content: center; 
        box-sizing: border-box;
        width: 100%;
    } 
    
    .bWiLtq { 
        height: 130px; 
        font-size: 20px; 
        font-weight: 500; 
        background-image: url("https://turbo.azstatic.com/assets/packs/media/packs/faq/images/header-img1-0f5fc27b85b470479cda8c2e1cf39332.svg"), url("https://turbo.azstatic.com/assets/packs/media/packs/faq/images/header-img2-d04f5d4abb81e030923ccfe4a54b5ca7.svg"), url("https://turbo.azstatic.com/assets/packs/media/packs/faq/images/header-img3-ac6907964b988f5c6ab2d5954e50448e.svg"); 
        background-repeat: no-repeat, no-repeat, no-repeat; 
        background-position: left 57px top, left 331px top 40px, right -30px top 55px; 
        cursor: default; 
        background-color: rgb(246, 247, 250); 
        color: rgb(33, 44, 58); 
        font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    } 
    #style-yKX3R.style-yKX3R {  
       display: flex;  
    }  
    
    
}
.iHOmhr { 
    padding: 20px 15px; 
    margin-bottom: 10px; 
    cursor: default; 
    color: rgb(33, 44, 58); 
    background-color: rgb(246, 247, 250); 
    border-left: 3px solid rgb(202, 16, 22);
} 

p { 
    margin: 0; 
    padding: 0;
} 

ul { 
    margin: 0; 
    padding: 0; 
    list-style: none;
} 

a { 
    color: #1e6e9d;
} 

.cQVeHP a { 
    text-decoration: none;
} 

.iHOmhr a  { 
    color: rgb(76, 136, 249);
} 

a:hover { 
    text-decoration: none;
} 

li { 
    margin: 0; 
    padding: 0;
} 

.iHOmhr li  { 
    list-style: inherit;
} 

a { 
    color: #1e6e9d;
} 

.cQVeHP a { 
    text-decoration: none;
} 

.iHOmhr a { 
    color: rgb(76, 136, 249);
} 

a:hover { 
    text-decoration: none;
}  

.cQVeHP a { 
    text-decoration: none;
}    

.cQVeHP a { 
    text-decoration: none;
} 

.iHOmhr a { 
    color: rgb(76, 136, 249);
} 

.hOexQE { 
    width: 305px; 
    height: min-content; 
    margin: 0px; 
    padding: 40px 25px 15px; 
    border-radius: 7px; 
    background-color: rgb(246, 247, 250); 
    list-style: none; 
    box-sizing: border-box;
} 

.hOexQE li  { 
    margin-bottom: 25px;
} 

a { 
    color: #1e6e9d;
} 

.fTpuPS { 
    line-height: 20px; 
    color: rgb(202, 16, 22); 
    text-decoration: none;
} 

.fTpuPS:hover { 
    color: rgb(76, 136, 249);
} 

.iOIsIO { 
    line-height: 20px; 
    color: rgb(141, 148, 173); 
    text-decoration: none;
} 

.iOIsIO:hover { 
    color: rgb(76, 136, 249);
} 
.kigMre { 
    display: flex; 
    -webkit-box-align: center; 
    align-items: center; 
    cursor: default;
} 

.cQVeHP a { 
    text-decoration: none;
} 

.kigMre a  { 
    color: rgb(141, 148, 173);
} 

.kigMre .help  { 
    display: flex; 
    -webkit-box-align: center; 
    align-items: center;
} 

.kigMre .help::before, .kigMre span::before { 
    content: ""; 
    width: 3px; 
    height: 3px; 
    margin: 0px 10px; 
    background-color: rgb(141, 148, 173); 
    border-radius: 50%;
} 
.kigMre a:hover { 
    color: rgb(202, 16, 22);
} 