* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.footer {
    margin-top: 10px;
    background-color: rgb(255, 255, 255);

    .footer__qaydalar {
        display: flex;
        height: 60px;
        background-color: antiquewhite;

        .footer__qaydalar1 {
            margin-left: 40px;
            text-decoration: none;
            color: black;
            margin-top: 25px;
        }

        .footer__qaydalar1:hover {
            color: red;
        }

        .footer__qaydalar2 {
            margin-left: 40px;
            text-decoration: none;
            color: black;
            margin-top: 25px;
        }

        .footer__qaydalar2:hover {
            color: red;
        }

        .footer__qaydalar3 {
            margin-left: 40px;
            text-decoration: none;
            color: black;
            margin-top: 25px;
        }

        .footer__qaydalar3:hover {
            color: red;
        }

        .footer__qaydalar4 {
            margin-left: 40px;
            text-decoration: none;
            color: black;
            margin-top: 25px;
        }

        .footer__qaydalar4:hover {
            color: red;
        }
    }

    .footer__sonluq {
        background-color: red;
        display: flex;
        height: 60px;
        padding-top: 15px;
        padding-left: 20px;

        .footer__sonluq__p2 {
            margin-left: 70px;
            padding-top: 10px;
        }

        .footer__sonluq__a {
            text-decoration: none;
            color: white;
            margin-left: 30px;
            padding-top: 10px;
        }

        .footer__sonluq__a:hover {
            text-decoration: underline;
        }
    }

}